{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <style>
        body{
            background: white;
        }

        label[for=commandes_commandesbundle_produits_activlot]
        {
            font-weight: normal;
        }
        .del {
            position: relative;
            float: left;
            margin-top: 20px;
            margin-right: -13px;
        }
        .btn-default {
            color: #333333;
            background-color: #ffffff;
            border-color: #cccccc;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            white-space: nowrap;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    </style>
<div class="container">

    <h2 style="margin-top: 0;">Ajouter un produit</h2>

        {{ form_start(form) }}


            <div class="row">
                <div class="required col-sm-8">
                    {{ form_label(form.name, "Nom ") }} <span class="requis">*</span>
                    {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}

                    {{ form_errors(form.name) }}
                </div>
            </div>
    <div class="row">
        <div class="required col-sm-4 col-xs-6">
            {{ form_label(form.reference, "Référence") }}
            {{ form_widget(form.reference,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.reference) }}
        </div>
        <div class="required col-sm-4 col-xs-6">
            {{ form_label(form.categories, "Catégorie") }}
            {{ form_widget(form.categories,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.categories) }}
        </div>
    </div>
    <div class="row">
        <div class="required col-sm-2">
            {{ form_label(form.puHT, "PU HT") }} <span class="requis">*</span>
            {{ form_widget(form.puHT,{'attr': {'class': 'form-control HT'}}) }}
            {{ form_errors(form.puHT) }}
        </div>
        <div class="col-sm-2">
            {{ form_label(form.tva, "TVA") }}
            {{ form_widget(form.tva,{'attr': {'class': 'form-control TVA'}}) }}
            {{ form_errors(form.tva) }}

        </div>
        <div class="col-sm-2">
            {{ form_label(form.puTTC, "PU TTC") }}
            {{ form_widget(form.puTTC,{'attr': {'class': 'form-control TTC'}}) }}
            {{ form_errors(form.puTTC) }}
        </div>

    </div>



    <div class="row">
        <div class="required col-sm-8">
            {{ form_label(form.description, "Description") }}
            {{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>


<br><br><br>
    <div class="row">

        <div class="panel-group col-sm-12 new-accordion" id="accordion">

            <div class="panel panel-default panel-sm">

                <div class="panel-heading">

                    <a id="accord" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="panel-title collapsed" style="display:block" >
                        <i id="more_options_icon1" class="icon-chevron-down"></i>
                        <span id="more_options_link1">Plus d'options  ↓</span>
                    </a>

                </div> <!-- panel-heading -->

                <div id="collapseOne" class="more_options panel-collapse collapse" style="height: 0px;">

                    <div class="panel-body">



                        <div class="checkbox label_inline not_service">
                            <input name="product[limited]" type="hidden" value="0"><input type="checkbox" value="1" checked="checked" name="product[limited]" id="product_limited">
                            <label for="product_limited">Restriction de quantité (en vente si stock positif)</label>
										<span class="help-block">
											La quantité en stock s'affichera lors de la création d'un document. Si vous avez coché l'option "Possibilité d’empêcher la vente de produits en rupture de stock" (Paramètres du compte > Options par défaut > Section Produits), l'option "Restriction de quantité" vous empêchera de vendre ce produit si sa quantité en stock est égale ou inférieure à 0.
										</span>
                        </div>

                        <div id="limited" class="not_service">
                            <div class="row">
                                <div class="col-sm-2">
                                    {{ form_label(form.qte, "Quantité disponible") }}
                                    {{ form_widget(form.qte,{'attr': {'class': 'form-control','disabled':"disabled"}}) }}
                                    {{ form_errors(form.qte) }}
                                </div>
                            </div> <!-- row -->
                        </div>
                        <div class="row">
                            <div class="required col-sm-2">
                                {{ form_label(form.prixHT, "Prix d'achat HT") }}
                                {{ form_widget(form.prixHT,{'attr': {'class': 'form-control HT2'}}) }}
                                {{ form_errors(form.prixHT) }}
                            </div>
                            <div class="col-sm-2">
                                {{ form_label(form.tva2, "TVA") }}
                                {{ form_widget(form.tva2,{'attr': {'class': 'form-control TVA2'}}) }}
                                {{ form_errors(form.tva2) }}

                            </div>
                            <div class="required col-sm-2">
                                {{ form_label(form.prixTTC, "Prix d'achat TTC") }}
                                {{ form_widget(form.prixTTC,{'attr': {'class': 'form-control TTC2'}}) }}
                                {{ form_errors(form.prixTTC) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                        {{ form_widget(form.activlot) }}
                        {{ form_errors(form.activlot) }}
                        {{ form_label(form.activlot, "Lot - le produit est composé de plusieurs articles") }}
                            </div>
                        </div>
                        <br>


                        <div id="package1" style="display: none; width: 100%;
    margin: 0;">
                            {% macro tagCollectionItem2(lots) %}


                                <td  style="font-size: 13px;">
                                    {{ form_widget(lots.produits,{'attr': {'class': 'form-control '}}) }}
                                </td>
                                <td  style="font-size: 13px;">
                                    {{ form_widget(lots.qte,{'attr': {'class': 'form-control '}}) }}
                                </td>
                                <hr>

                            {% endmacro %}

                                <table class="tagsLot  dataTable no-footer" data-prototype="{{ _self.tagCollectionItem2(form.lots.vars.prototype)|e('html_attr') }}">

                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="descending" aria-label="NOM: activate to sort column ascending" style="width: 180px;">
                                            Produit</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="PU H.T.: activate to sort column ascending" style="width: 159px;">QUANTITÉ</th>

                                    </tr>
                                    </thead>

                                    {% for form in form.lots %}
                                    <tbody>
                                        {{ _self.tagCollectionItem2(lots) }}
                                    </tbody>
                                    {% endfor %}




                                </table>


                        </div>

                        <br>
                        <br>

                        <div class="row">
                            <div class="col-sm-3 col-md-2">
                                {{ form_label(form.unite, "Unité") }}
                                {{ form_widget(form.unite,{'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.unite) }}
                            </div>
                            <div class="col-sm-5 col-md-4">
                                {{ form_label(form.qtedefault, "Quantité vendue par défaut") }} <span class="requis">*</span>
                                {{ form_widget(form.qtedefault,{'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.qtedefault) }}
                            </div>

                        </div>
                        <!-- if -->
                        <br>

                        <div>

                        </div>

                    </div>


                </div> <!-- panel-body -->

            </div> <!-- collapseOne -->

        </div> <!-- panel -->


    </div>
    <div class="row">
        <div class="required col-sm-2">
            {{ form_label(form.images, "Ajouter une pièce jointe") }}
            {{ form_widget(form.images,{'attr': {'class': ''}}) }}
            {{ form_errors(form.images) }}
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 form-group">

            <img src="{{ asset('image/ajax-loader-wide.gif') }}" class="loader " >
            <div class="sauvegarder">
                <button type="submit" class="btn-glow primary " style="margin-left:5px;"><span class="glyphicon fa fa-plus" aria-hidden="true"></span> Sauvegarder</button> ou <a href="{{ path('admin_bes_index') }}">Annuler</a>
            </div>
        </div>
    </div>

    <br>


            {{ form_end(form) }}
</div>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/select2.js') }}"></script>

    <script>
        var loader = "{{ asset('image/ajax-loader-wide.gif') }}"; //link to the animated loader-small.gif


        $('.loader').hide();


        $("form").submit(function (e) {

            $('.loader').show();
            $('.sauvegarder').hide();
        });
    </script>

    <script type="text/javascript">



        $('#commandes_commandesbundle_produits_moretva_valeur').hide();
        $('#commandes_commandesbundle_produits_moretva2_valeur').hide();
        $(".select").select2({
            tags: "true",
            tokenSeparators: [',', ' ']
        });
        var valeur = 0;
        jQuery(document).ready(function() {

        $('.HT').keyup(function(){

            $.ajax({
                type:'GET',
                url: Routing.generate('admin_produits_cttc',{ht:$('.HT').val(),tvaid:$('.TVA').val()}),

                success: function (data) {

                    $('input.TTC').val(data.TTC)

                }
            });

        });
            $('.TVA').change(function(){

                $.ajax({
                    type:'GET',
                    url: Routing.generate('admin_produits_cttc',{ht:$('.HT').val(),tvaid:$('.TVA').val()}),

                    success: function (data) {

                        $('input.TTC').val(data.TTC)

                    }
                });

            });

        $('.HT2').keyup(function(){

            $.ajax({
                type:'GET',
                url: Routing.generate('admin_produits_cttc',{ht:$('.HT2').val(),tvaid:$('.TVA2').val()}),

                success: function (data) {

                    $('input.TTC2').val(data.TTC)

                }
            });

        });

            $('.TVA2').change(function(){

                $.ajax({
                    type:'GET',
                    url: Routing.generate('admin_produits_cttc',{ht:$('.HT2').val(),tvaid:$('.TVA2').val()}),

                    success: function (data) {

                        $('input.TTC2').val(data.TTC)

                    }
                });

            });
        $('.btn-success').click(function () {
            $.ajax({
                type:'GET',
                url: Routing.generate('admin_produits_cttc',{ht:$('.HT').val(),tvaid:$('.TVA').val()}),

                success: function (data) {

                    $('input.TTC').val(data.TTC)

                }
            });
            $('.HT2, .TVA2').keyup(function(){

                $.ajax({
                    type:'GET',
                    url: Routing.generate('admin_produits_cttc',{ht:$('.HT2').val(),tvaid:$('.TVA2').val()}),

                    success: function (data) {

                        $('input.TTC2').val(data.TTC)

                    }
                });

            });
        })

        });

        $('#tablezonne').hide();

        $('#commandes_commandesbundle_produits_dp').click(function(){
            $('#tablezonne').fadeIn("slow");
            if (this.checked) {
                $('#tablezonne').show();



            }else {
                $('#tablezonne').hide();
            }
        });


        $('#commandes_commandesbundle_produits_tva_id').append($('<option>', {
            value: 'disabled',
            text: 'Inactif'
        }));
        $('#commandes_commandesbundle_produits_moretva_id').append($('<option>', {
            value: 'more',
            text: 'Autre...'
        }));
        $('#commandes_commandesbundle_produits_tva2').append($('<option>', {
            value: 'disabled',
            text: 'Inactif'
        }));
        $('#commandes_commandesbundle_produits_tva2').append($('<option>', {
            value: 'more',
            text: 'Autre...'
        }));

        jQuery(document).ready(function() {




            var $collectionHolder;
            // setup an "add a tag" link
            var $addTagLink = $('');
            var $newLinkLi = $('<ul></ul>').append($addTagLink);
            var $id;
            var $snom;

            // Get the ul that holds the collection of tags
            $collectionHolder = $('table.tags');

            $collectionHolder.find('div').each(function() {
                addTagFormDeleteLink($(this));
            });
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);


            });
            $(".stockName").each(function() {
                $id = $(this).attr('value');
                $snom = $(this).attr('name');
                addTagForm($collectionHolder, $newLinkLi,$id,$snom);



            });



        });

        function addTagForm($collectionHolder, $newLinkLi,$id,$snom) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            var id = $id;
            // get the new index
            var index = $collectionHolder.data('index');



            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $("<tr id='"+index+"'></tr>").append(newForm);


            $newLinkLi.before($newFormLi);






                    $('#commandes_commandesbundle_produits_diffprix_'+index+'_zonnestocks').val($id);





            $('.sname').attr( 'class','sname'+index);

              $('.sname'+index).append($snom);

            $('#commandes_commandesbundle_produits_diffprix_'+index+'_zonnestocks').hide();

            $('.produit').hide();


            $('#commandes_commandesbundle_produits_diffprix_'+index+'_puHT').change(function(){


                $.ajax({
                    type:'GET',
                    url: Routing.generate('admin_produits_cttc',{ht:$('#commandes_commandesbundle_produits_diffprix_'+index+'_puHT').val(),tvaid:$('#commandes_commandesbundle_produits_diffprix_'+index+'_tva').val()}),

                    success: function (data) {

                        $('#commandes_commandesbundle_produits_diffprix_'+index+'_puTTC').val(data.TTC)

                    }
                });


            });

            $('#commandes_commandesbundle_produits_diffprix_'+index+'_tva').change(function(){


                $.ajax({
                    type:'GET',
                    url: Routing.generate('admin_produits_cttc',{ht:$('#commandes_commandesbundle_produits_diffprix_'+index+'_puHT').val(),tvaid:$('#commandes_commandesbundle_produits_diffprix_'+index+'_tva').val()}),

                    success: function (data) {

                        $('#commandes_commandesbundle_produits_diffprix_'+index+'_puTTC').val(data.TTC)

                    }
                });


            });
        }

    </script>



    <script>
         /////////////////  Lots ///////////////


         $('#commandes_commandesbundle_produits_activlot').click(function(){
             $('#package1').fadeIn("slow");
             if (this.checked) {
                 $('.package1').show();



             }else {
                 $('#package1').hide();
             }
         });



         var $collectionHolder2;

        // setup an "add a tag" link
        var $addTagLink2 = $('<a href="#" class="add_tag_link2"><button type="submit" class="btn"><i class="fa fa-plus"></i> Ajouter</button></a>');
        var $newLinkLi2 = $('<div></div>').append($addTagLink2);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder2 = $('table.tagsLot');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder2.append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

            $addTagLink2.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm2($collectionHolder2, $newLinkLi2);
            });
            addTagForm2($collectionHolder2, $newLinkLi2);
        });

        function addTagForm2($collectionHolder2, $newLinkLi2) {
            // Get the data-prototype explained earlier
            var prototype2 = $collectionHolder2.data('prototype');

            // get the new index
            var index2 = $collectionHolder2.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm2 = prototype2.replace(/__name__/g, index2);

            // increase the index with one for the next item
            $collectionHolder2.data('index', index2 + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi2 = $('<tr></tr>').append(newForm2);
            $newLinkLi2.before($newFormLi2);

            addTagFormDeleteLink2($newFormLi2);
        }



         function addTagFormDeleteLink2($tagFormLi2) {

             var $removeFormA2 = $('<button class="btn btn-default remove-product-btn" style="   margin-top: 6px; color: #333333;background-color: #ffffff;border-color: #cccccc;"><i class="fa fa-close" aria-hidden="true" style=""></i></button>');
             $tagFormLi2.append($removeFormA2);

             $removeFormA2.on('click', function(e) {

                 // prevent the link from creating a "#" on the URL
                 e.preventDefault();

                 // remove the li for the tag form
                 $tagFormLi2.remove();


             });

         }


    </script>
{% endblock %}
