

{% trans_default_domain 'FOSUserBundle' %}
<style>
    .login-wrapper .already {
        margin: 0 auto;
        float: none;
        text-align: center;
        font-size: 13px;
        margin-top: 30px;
    }
    .login-wrapper .already a {
        color: #222;
        margin-left: 7px;
        border-bottom: 1px solid;
        transition: all .1s linear;
        -moz-transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear;
    }
    .required label:after {
        color: #FF1200;
        content: " *";
        font-weight: bold;
    }
    .conditions p {
        color: #898a8c;
        font-size: 10px;
    }
    .login-wrapper .box .action {
        border-top: 1px solid #d3d7db;
        background-color: #f4f5f6;
        margin: 0px -36px;
        position: relative;
        top: 30px;
        border-radius: 0px 0px 7px 7px;
        padding: 15px 0px;
        text-align: center;
    }
    .login-wrapper .box .signup {
        text-transform: uppercase;
        font-size: 13px;
        padding: 7px 25px;
        border-radius: 5px;
    }
    .m-b-n-md {
        margin-bottom: -35px;
    }
    ul{
        list-style: none;
        padding-left: 0;
        padding-top: 5px;
        color: #FF1200;
    }
</style>
<div class="box">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="content-wrap" style="text-align: left;">

        <h6>INSCRIPTION</h6>

        <strong style="text-align:left;display:block;margin-top:-15px">Indiquez votre adresse email et choisissez un mot de passe</strong>
        </br>
        <div class="required">
            {{ form_label(form.email, "Adresse Email ") }}
            {{ form_widget(form.email,{'attr': {'class': 'form-control ', 'placeholder': 'Adresse Email',}}) }}
            {{ form_errors(form.email) }}
        </div>

        </br>
        <div class="required">
        {{ form_label(form.plainPassword, "Mot de passe ") }}
        {{ form_widget(form.plainPassword,{'attr': {'class': 'form-control ', 'placeholder': 'Mot de passe',}}) }}
            {{ form_errors(form.plainPassword) }}
        </div>
        <div class="conditions m-b-n-md">
            <p class="m-n">
                En utilisant ce site, vous acceptez les <a >Conditions Générales d’Utilisation</a> de creativ-dz.com, dont <a >la Politique de Confidentialité</a> et <a  >la Politique des Cookies</a>, et autorisez le <a  >traitement des données à caractère personnel</a>.
            </p>
        </div>



            <div class="action">
                <input type="submit" name="commit" value="S'inscrire" class="btn-glow primary signup">



            </div>
    </div>
    {{ form_end(form) }}
</div> <!-- content-wrap -->




<div class="already">
    <a href="{{ path('fos_user_security_login') }}">Se connecter</a> si vous possédez déjà un compte

    |
    Ajouter un<a href="#" onclick="$('#from_partner1').fadeToggle();$('#user_from_partner').focus(); return false;"> code de parrainage</a>


</div>
<div class="clear"></div>
<div class="well well-sm" style="margin:20px auto;padding:20px;max-width:70%;text-align:left;font-size:1em">

    <p>


        <strong style="display:block;text-align:center">Inscription en ligne 100% gratuite</strong>
        <br>
        Inscrivez-vous gratuitement et bénéficiez de 30 jours d’essai gratuit. A la fin de cette période d’essai, votre compte sera par défaut transféré sous la version gratuite, sans perdre vos données. Vous pourrez alors choisir la version payante la mieux adaptée à vos besoins, ou continuer à utiliser la version basique, ou clôturer votre compte - et ce tout au long de votre activité.
        <br><br>
        <strong style="display:block;text-align:center">creativ-dz.com est une application flexible, intuitive, et sans engagement ! </strong>




    </p>

</div>