{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ departement.nom }}</td>
            </tr>
            <tr>
                <th>Nifselect</th>
                <td>{{ departement.nifselect }}</td>
            </tr>
            <tr>
                <th>Nif</th>
                <td>{{ departement.nif }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ departement.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ departement.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ departement.ville }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ departement.email }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ departement.siteweb }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ departement.fax }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ departement.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_departements_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_departements_edit', { 'id': departement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
